html{
  scroll-behavior: smooth;
}


.navbar  {
   background-color:white
}



.jumbotron {

    background: url("Img/background.jpg");
}

.display-4 {
    text-align: center;
    color: #FFF;
}



.lol {
    text-align: center;
}

#competencesimg {
  height: 30%;
  width: 20%;
  text-align: center;
}


.font {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
}


.un {
  margin-top: -10%;
 
}

.apdm {
  margin-left: 25%;
}


.buttonliens {
  border-radius: 5%;
  background-image:linear-gradient(white, black);
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-image:linear-gradient(white, black);
  
}


.move{
  margin-left: 3%;
}

@media screen and (min-width: 640px) {
  .move{
    margin-left: 3%;
  }

 

 
}

@media screen and (max-width: 640px) {
  .move{
    margin-left: 13%;
  }

  .font{
    margin-left: 30%;
  }

  .foot {
    margin-left: 19%;
  }

  .apdm {
    margin-left: -20%;
  }

  .formation {
    margin-left: -8%;
  }

  .realisation{
    margin-left: -13%;
  }

  .competence{
    margin-left: -13%;
  }

  .ligne {
    width : 80%;
    background-color: black;
    
    
  }

  .example-1 .sticker-img {
    display: none;
  }
  
 
 
}

.ligne {
  width : 40%;
  background-color: black;
  
  
}

.sticker {

  width: 10%;
  
  height: 10%;

 margin-left: 45.5%;

 margin-top: 5%;
  }
  

  
  .example-1 .sticker-img {
  
  background-image: url(llllll.jpg);
  
  }

  .comptitle {
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;

  }

  .test2 {
    background: url("background.jpg");
    width: 100%;
  height: auto;
  }