

/* Permet d'être plus fluide quand scroll*/
html{
  scroll-behavior: smooth;
}

/* COuleur de la barre */
.navbar  {
   background-color:white
}


/* Image du jumbotron */
.jumbotron {

    background: url("Img/background.jpg");
}

.display-4 {
    text-align: center;
    color: #FFF;
}



/* .lol {
    text-align: center;
}

#competencesimg {
  height: 30%;
  width: 20%;
  text-align: center;
} */


/* Police d'écriture des titres competences / Réalisations / Formation / Contact */
.font {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
}


.un {
  margin-top: -10%;
 
}

.apdm {
  margin-left: 25%;
}


.buttonliens {
  border-radius: 5%;
  background-image:linear-gradient(white, black);
}

/*
a {
  
  color: inherit;
}
*/


/* Couleur du pied de page */
.footer {
  background-image:linear-gradient(white, black);
  
}


.move{
  margin-left: 3%;
}

@media screen and (min-width: 640px) {
  .move{
    margin-left: 3%;
  }

 

 
}



/* Redimension quand l'ecran est plus petit que 640px */ 
@media screen and (max-width: 640px) {
  .move{
    margin-left: 13%;
  }

  .font{
    margin-left: 30%;
  }

  .foot {
    margin-left: 19%;
  }

  .apdm {
    margin-left: -20%;
  }

  .formation {
    margin-left: -8%;
  }

  .realisation{
    margin-left: -13%;
  }

  .competence{
    margin-left: -13%;
  }

  .ligne {
    width : 80%;
    background-color: black;
    
    
  }

  .example-1 .sticker-img {
    display: none;
  }
  
 
 
}



/* Ligne avant Infos */
.ligne {
  width : 40%;
  background-color: black;
  
  
}



/* Image en tete */
.sticker {

  width: 10%;
  
  height: 10%;

 margin-left: 45.5%;

 margin-top: 5%;
  }
  

  
  /* Image en-tete */
  .example-1 .sticker-img {
  
  background-image: url(llllll.jpg);
  
  }

  /* Langages / Framework / Autres */ 
  .comptitle {
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;

  }

  /* Image background body */
  .test2 {
    background: url("background.jpg");
    width: 100%;
  height: auto;
  }


  /* Police d'écriture des paragraphes */
  .font2{
    font-family: 'Roboto', sans-serif;
  }

  /* Informations complémentaires */
  .info {
    font-weight: bold;
  }

 .test {
   color: whitesmoke;
 }

 .test:hover {
  color: black;
  
}